@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Gunjala+Gondi:wght@400..700&display=swap');
html, body {
  overflow-x: hidden; 
  overflow-y: scroll; 
}

body{
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}
.nav-link:hover {
    color: #7b1fa2 !important;
    text-decoration: underline !important;
}


.logo{
    font-size: 35px;
    font-weight: 600;
    color: #0B2447;
}

.inicio{
    margin-right: 100px;
    margin-left: 200px;
}

.perfil{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 40px 0 rgba(128,0,128,0.6), 0 0 60px 0 rgba(128,0,128,0.4), 0 0 80px 0 rgba(128,0,128,0.2);    
    transition: box-shadow 0.3s ease;
}

.perfil:hover {
    box-shadow: 0 0 65px 0 rgba(128,0,128,0.6), 0 0 85px 0 rgba(128,0,128,0.4), 0 0 110px 0 rgba(128,0,128,0.2); 
}
.nombre{
    font-size: 38px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.div-anim{
     width: 100%; 
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
}
.animacion {
    color: #c350ce;
    font-size: clamp(19px, 3vw, 16px);
    animation: typing 5s steps(26) infinite, blink 0.5s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid transparent;
}


.icon{
    margin: 0 10px;
    cursor: pointer;
}
.button{
    border-radius: 15px;
    border: 2px;
    background-color: rgb(228, 157, 213);
    padding: 10px;
    box-shadow: 0 0 5px palevioletred, 0 0 25px palevioletred;
    margin: 10px;
    margin-left: 40px
}
.button:hover{
    box-shadow: 0 0 5px palevioletred, 0 0 25px palevioletred, 0 0 50px palevioletred, 0 0 100px palevioletred, 0 0 200px palevioletred;
}
.icon.fa-github{
  color: rgb(62, 58, 58) ;
}
.icon.fa-github:visited{
    color: rgb(62, 58, 58) ;
  }
  .Sm{
    border-bottom: 5px solid rgb(231, 126, 197);
    display: inline;
}
.numSk{
    font-size: 25px;
    color: rgb(49, 43, 43);
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-color: #19376D;
}
.sobMiText p{
font-size: 18px;
padding: 10px;
text-align: justify;
border-radius: 10px;
margin: 0 auto;
box-shadow:0 0 2px rgb(216, 112, 195), 0 0 15px rgb(216, 112, 195);
}
.sobMiText:hover{
 transform: scale(0.98);

}
.content{
    padding: 10px;
    display: flex;
    flex-direction: column;

}
.tittle{
    font-size: 20px;
    font-weight: 700;
}
.card-container{
    display: flex;
    justify-content: space-between;
}
.card{
    width: auto;
    flex:1;
    height: 320px;
    border-radius: 20px;
    box-shadow: 4px 6px 20px 0 rgba(0,0,0,0.19),
                4px 6px 20px 0 rgba(0,0,0,0.19);
    width: 400px;
    overflow: hidden;
    margin-bottom: 20px;
}


.herramientas{
    margin-top: 10px;
}
.imgC{
    transition: 2s ease;
}
.imgC:hover{
    transform: scale(1.1);
}
.icon{
    width: 15px;
}
.iconphp{
    width: 22px;
}
.iconCord {
    width: 18px;
}
.iconk{
    width: 13px;
}
.iconMongo{
    width: 25px;
}
.btn-html{
    margin: 3px;
  background-color: #ff4b00;
  color: white;
  padding-right: 5px;
font-weight: 400;
border-radius: 10px ;
border: none;
font-family: "Monda", sans-serif;
font-weight: 400;
font-style: normal
}
.btn-css{
    margin: 3px;

    background-color: #2196f3;
    color: white;
    padding-right: 5px;
  font-weight: 400;
  border-radius: 10px ;
  border: none;
  font-family: "Monda", sans-serif;
  font-weight: 400;
  font-style: normal
}
.content{
    margin-top: 5px;
}
.btn-php{
    margin: 3px;

  background-color: #777bb3;
  color: white;
  padding-right: 5px;
  font-weight: 400;
  border-radius: 10px ;
  border: none;
  font-family: "Monda", sans-serif;
  font-weight: 400;
  font-style: normal
}
.btn-boos{
    margin: 3px;
    background-color: #7952b3;
    color: white;
    padding-right: 5px;
  font-weight: 400;
  border-radius: 10px ;
  border: none; 
  font-family: "Monda", sans-serif;
  font-weight: 400;
  font-style: normal
}
.btn-js{
    margin: 3px;
    background-color: #e7a42b;
    color: white;
    padding-right: 5px;
  font-weight: 400;
  border-radius: 10px ;
  border: none;
  font-family: "Monda", sans-serif;
  font-weight: 400;
  font-style: normal

}
.btn-cordova{
    margin: 3px;
    background-color: #eaeaea;
    color: rgb(95, 82, 82);
    padding-right: 5px;
  font-weight: 400;
  border-radius: 10px ;
  border: none;
  font-family: "Monda", sans-serif;
  font-weight: 400;
  font-style: normal
}
.btn-local{
    margin: 3px;
    background-color: #d7d4d4;
    color: rgb(27, 25, 25);
    padding-right: 5px;
  font-weight: 400;
  border-radius: 10px ;
  border: none;
  font-family: "Monda", sans-serif;
  font-weight: 400;
  font-style: normal
}
.btn-Code{
    font-family: "Noto Sans Gunjala Gondi", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 90px;
    padding: 3px;
    color: white;
    padding-right: 5px;
    background-color: black;
    border-radius: 10px;
    font-weight: 700px;

}


.btn-node{
    font-family: "Noto Sans Gunjala Gondi", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 110px;
    padding: 4px;
    color: #93cf4c;
    padding-right: 6px;
    background-color: rgb(241, 242, 246);
    border-radius: 10px;
    font-weight: 700px;
    border-color: transparent;

}
.btn-mongo{
    font-family: "Noto Sans Gunjala Gondi", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 130px;
    padding: 4px;
    color: #040504;
    padding-right: 6px;
    background-color: #F7F7F7;
    border-radius: 10px;
    font-weight: 700px;
    border-color: transparent;

}
.btn-docker{
    font-family: "Noto Sans Gunjala Gondi", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 110px;
    padding: 4px;
    color: #2391E6;
    padding-right: 6px;
    background-color: rgb(254, 254, 255);
    border-radius: 10px;
    font-weight: 700px;
    border-color: rgb(248, 224, 224);

}
.btn-kotlin {
    font-family: "Noto Sans Gunjala Gondi", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 110px;
    padding: 4px;
    color: #080808;
    padding-right: 6px;
    background-color: rgb(244, 244, 252);
    border-radius: 10px;
    font-weight: 700px;
    border-color: transparent;

}
.skill{
    margin-top: 70px;
}
.imgS{
    width: 75px;
}
.imgSC{
    width: 65px;
}
.imgSJ{
    width:80px ;
}
.numSk{
    text-align: center;
    justify-content: center;
}
.tS{
    font-family: "Monda", sans-serif;
    font-weight: 600;
    font-size: 20px;
}


.form{
    justify-content: center;
    
}
.fi {
    text-align: center;
}

.separator,
.cel {
    margin: 0 auto; /* Esto centrará horizontalmente los elementos dentro de su contenedor */
}
.cel {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

.button_en {
    margin: 0 auto; /* Esto centrará horizontalmente el botón dentro de su contenedor */
}
label {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }

.form_main {
    margin-right: 10px;
    margin-left: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        padding: 30px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
        position: relative;
        overflow: hidden; 
    
  }

  
  
  .form_main::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    background-color: rgb(209, 193, 255);
    transform: rotate(45deg);
    right: -180px;
    bottom: 30px;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
  }
  
  .heading {
    font-size: 2em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 5px 0 10px 0;
    z-index: 2;
  }
  
  .inputContainer {
    width: 100%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .inputIcon {
    position: absolute;
    left: 3px;
  }
  
  .inputField {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: black;
    font-size: 16px;
    font-weight: 350;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 30px;
  }
  .inputField2{
    width: 100%;
    height: 100px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: black;
    font-size: 16px;
    font-weight: 350;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 30px;
  }
  
  .inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(199, 114, 255);
  }
  
  .inputField::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 400;
  }

  .inputField2:focus {
    outline: none;
    border-bottom: 2px solid rgb(199, 114, 255);
  }
  
  .inputField2::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 400;
  }


/* btn */
.button_en {
    align-items: center;
    background-image: linear-gradient(144deg,#bb76ec, #6a56f0 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   .button_en:active,
   .button_en:hover {
    outline: 0;
   }
   
   .button_en span {
    background-color: rgb(202, 104, 255);
    padding: 10px 10px;
    border-radius: 6px;
    width: 100%;
    height: 30%;
    transition: 300ms;
   }
   
   .button_en:hover span {
    background: none;
   }
   
   .button_en:active {
    transform: scale(0.9);
   }

   .separator {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #09090a;
  }
  
  .separator .line {
    display: block;
    width: 80%;
    height: 1px;
    border: 0;
    background-color: #080808;
  }
  
  .note {
    font-size: 0.75rem;
    color: #101010;
    text-decoration: underline;
  }

  .cel {
    display: flex;
    align-items: center;
}

.cel i {
    margin-right: 5px;
    vertical-align: middle;
}
.num{
    margin: 0; 
    vertical-align: middle;
}
a[href^="https://www.linkedin.com"] {
    outline: none;
}

a[href^="https://www.linkedin.com"]:focus {
    outline: transparent;
}

.fa-regular{
    margin-right: 3px;
}
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
  }
  
  a:focus {
    outline: none; /* Eliminar el borde de enfoque */
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 66%;
    }
}

@keyframes blink {
    50% {
        border-color: #19376D; 
    }
}


@media (max-width: 768px) {
    .perfil {
        width: 180px; 
        height: 180px;
        margin-top: 20px; 
        margin-bottom: 20px;
    }
    .nombre {
        font-size: 35px; 
    }
}
.iconos-botones-group {
    display: flex;
    align-items: center; 
    flex-wrap: wrap; 
    margin-top: 15px; 
}

.iconos-botones-group a:last-child {
    margin-left: auto; 
    margin-right: 0;
}

.iconos-botones-group .icon {
    margin-right: 15px; 
}

/* Tarjeta del formulario */
#contacto .card {
    background: #ffffff;
    border: 1px solid #F3A8D533; 
    box-shadow: 0 0 25px #F3A8D555;
    border-radius: 16px;
}

/* Título */
#contacto h3 {
    color: #A86CC3; 
}

/* Labels */
#contacto .form-label {
    color: #9037b9;
    font-weight: 600;
}

/* Inputs y textarea */
#contacto .form-control {
    border: 1px solid #D9B6E6; 
    border-radius: 10px;
    padding: 0.75rem;
    transition: 0.2s ease-in-out;
}

#contacto .form-control:focus {
    border-color: #A86CC3;
    box-shadow: 0 0 15px #F3A8D533;
}

/* Botón */
#contacto button.btn-primary {
    background-color: #f08ec9;   
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px;
    transition: 0.3s ease-in-out;
}

#contacto button.btn-primary:hover {
    background-color: #D980B9;
    box-shadow: 0 0 18px #F3A8D5;
}

/* Teléfono */
#contacto a {
    color: #A86CC3;
}

#contacto a:hover {
    color: #D980B9;
}
#contacto h3 {
    font-size: 28px;
}

#contacto p {
    font-size: 18px;
}


@media (max-width: 768px) {
    #contacto h3, 
    #contacto p {
        text-align: justify;
    }
}


#contacto .card {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


#contacto .col-lg-6:last-child {
    display: flex;
    justify-content: center;
}


@media (max-width: 768px) {
   
   
    #contacto .card {
        max-width: 100%;
        width: 100%;
    }

    #contacto .col-lg-6 {
        text-align: start;
    }

    #contacto form .form-control,
    #contacto textarea {
        width: 100%;
    }
}
   .contact-text,
    .contact-text a {
        font-size:18px !important;   
        color: #585353 !important;        
        font-weight: 500;
        line-height: 1.7;
        margin-bottom: 10px;
    }

 
    .contact-text i {
        font-size: 20px !important;
        color: #7b1fa2;
    }